// TODO à vérifier
html {
    box-sizing: border-box;  
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    // color: $color-text;
  }
  
  a:hover {
    // color: $hover-color;
  }
  