// TODO à vérifier
html {
    box-sizing: border-box;  
  }

body {
  background-color: $black-pearl;
  color: $stark-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $stark-white;
}

// a:hover {
//   // color: $hover-color;
// }
