$fa-font-path:  '~font-awesome/fonts';
$font-family-fallback: 'Arial, sans serif';

// =========== SECTION FONT SIZE ===========
$font-size: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-extralarge: 2.5rem;

$font-title-size: 1.5rem;
$font-title-size-medium: 2.3rem;
$font-title-size-large: 3rem;

// =========== SECTION BREAK POINTS ===========
// Small devices (landscape phones, 576px and up)
$breakpoint-small: 576px;
// Medium devices (tablets, 768px and up)
$breakpoint-medium: 768px;
// Large devices (desktops, 992px and up)
$breakpoint-large: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoint-extralarge: 1200px;
// Super Extra large devices (large desktops, tv 1500px and up)
$breakpoint-huge: 1500px;

// =========== SECTION COLORS ===========
$white: #fff;
$black: #000;
$black-pearl: #051B2D;
$stark-white: #EADCC9;
$vista-green: #80D39B;
$scarlet: #FF1616;
$fuel-yellow: #EAB724;
$big-stone: #142E43;


$color-text: $black-pearl;
// $color-text-alt: $black;

// $color-section-01: $blue;
// $color-section-02: $yellow;
// $color-section-03: $red;

// $hover-color: $yellow;
