.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10% auto;
    padding: pxToRem(20px);
    border-radius: pxToRem(10px);
    box-shadow: 0 pxToRem(5px) pxToRem(30px) 0 $stark-white;
    overflow: hidden;
    z-index: 1;
    
    &__text {
        text-align: center;
        font-size: pxToRem(30px);
        font-weight: bold;
        color: $fuel-yellow;
        margin-bottom: pxToRem(30px);
    }

    // &__form {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    //     &__group {
    //         position: relative;
    //         padding: pxToRem(15px) 0 0;
    //         margin-top: pxToRem(10px);
    //         width: 100%;

    //         &__input {
    //             font-family: inherit;
    //             width: 100%;
    //             border: 0;
    //             border-bottom: pxToRem(2px) solid $stark-white;
    //             outline: 0;
    //             font-size: pxToRem(25px);
    //             color: $white;
    //             padding: pxToRem(7px) 0;
    //             background: transparent;
    //             transition: border-color 0.2s;

    //             placeholder {
    //                 color: transparent;
    //             }

    //             &:placeholder-shown, .signup__form__group__label {
    //                 font-size: 1.3;
    //                 cursor: text;
    //                 top: pxToRem(20px);
    //             }
    //         }

    //         &__label {
    //             position: absolute;
    //             top: 0;
    //             display: block;
    //             transition: 0.2s;
    //             font-size: 1rem;
    //             color: $stark-white;
    //         }

    //         &__input:focus {
    //             ~ .signup__form__group__label {
    //               position: absolute;
    //               top: 0;
    //               display: block;
    //               transition: 0.2s;
    //               font-size: 1rem;
    //               color: $vista-green;
    //               font-weight:700;    
    //             }
    //             padding-bottom: 6px;  
    //             font-weight: 700;
    //             border-width: 3px;
    //             border-image: linear-gradient(to right, $vista-green,$stark-white);
    //             border-image-slice: 1;
    //           }
    //           /* reset input */
    //         &__input {
    //             &:required,&:invalid { box-shadow:none; }
    //         }
    //     }
    // }

    // &__form {
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: nowrap;
    //     border: solid pxToRem(3px);
    //     border-color: $fuel-yellow;
    //     border-radius: pxToRem(20px);
    //     padding: pxToRem(20px);

    //     label {
    //         font-size: pxToRem(20px);
    //         text-align: center;
    //         font-weight: bold;
    //         margin-bottom: pxToRem(5px);
    //     }

    //     input {
    //         width: 100%;
    //         background-color: $stark-white;
    //         border-radius: pxToRem(15px);
    //         padding: pxToRem(10px);
    //         margin-bottom: pxToRem(20px);
    //     }

    //     &__birthdate {
    //         display: flex;
    //         flex-direction: row;
    //         width:100%;

    //         input {
    //             margin-left: pxToRem(5px);
    //         }

    //         &__year {
    //             width: 50%;
    //         }
    //     }
    // }
}